<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
          "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!-- http://checkstyle.sf.net/ -->

<module name="Checker">
	<module name="FileLength"/>
	<module name="FileTabCharacter"/>

	<!--
		These checks require configuration an can't be used in default setup.

		<module name="Header">
	-->

	<module name="RegexpHeader">
		<property name="header" value="^/\*$\n^ \* Copyright "/>
		<property name="fileExtensions" value="java"/>
	</module>
	<module name="NewlineAtEndOfFile">
		<property name="lineSeparator" value="lf"/>
	</module>
	<module name="Translation"/>
	<module name="UniqueProperties"/>

	<module name="RegexpSingleline">
		<property name="format" value="(TODO|ToDo|todo|Todo)([^(]|$)"/>
		<property name="message"
			value="Correct TODO format is: TODO(username): ..."/>
	</module>
	<module name="RegexpMultiline">
		<property name="format"
			value="@SuppressWarnings[^(]*[(][^(*]+[)]"/>
		<property name="message"
			value="SuppressWarnings requires /* annotation */"/>
	</module>

	<!-- Respect @SuppressWarnings in the code -->
	<module name="SuppressWarningsFilter"/>

	<module name="TreeWalker">
		<module name="AbbreviationAsWordInName"/>
		<module name="AbstractClassName"/>
		<module name="AnnotationLocation"/>
		<module name="AnnotationUseStyle"/>
		<module name="AnonInnerLength">
			<property name="max" value="50"/>
		</module>
		<module name="ArrayTrailingComma"/>
		<module name="ArrayTypeStyle"/>
		<module name="AtclauseOrder"/>
		<module name="AvoidEscapedUnicodeCharacters"/>
		<module name="AvoidInlineConditionals"/>
		<module name="AvoidNestedBlocks"/>
		<module name="AvoidStarImport"/>
		<module name="AvoidStaticImport"/>
		<module name="BooleanExpressionComplexity"/>
		<module name="CatchParameterName"/>
		<module name="ClassFanOutComplexity">
			<!--
				This rule has very poor configuration options:
				excludedPackages can't contain any wildcards;
				excludeClassesRegexps are short (i.e. non-canonical) names.
			-->
			<property name="excludedPackages" value="android.text"/>
			<property name="excludedPackages" value="android.view"/>
			<property name="excludedPackages" value="android.widget"/>
			<property name="excludedPackages" value="android.content"/>
			<property name="excludedPackages" value="android.support.v4.view"/>
			<property name="excludedPackages" value="android.support.v7.app"/>
			<property name="excludedPackages"
				value="android.support.v7.widget"/>
			<property name="excludedPackages"
				value="android.support.annotation"/>
			<property name="excludedPackages"
				value="com.google.android.gms.appinvite"/>
		</module>
		<module name="ClassTypeParameterName"/>
		<module name="CommentsIndentation"/>
		<module name="ConstantName"/>
		<module name="CovariantEquals"/>
		<module name="CustomImportOrder"/>
		<module name="CyclomaticComplexity"/>
		<module name="DeclarationOrder"/>
		<module name="DefaultComesLast"/>
		<module name="DescendantToken"/>
		<module name="EmptyBlock"/>
		<module name="EmptyCatchBlock"/>
		<module name="EmptyForInitializerPad"/>
		<module name="EmptyForIteratorPad"/>
		<module name="EmptyLineSeparator">
			<property name="allowMultipleEmptyLines" value="true"/>
			<property name="allowNoEmptyLineBetweenFields" value="true"/>
		</module>
		<module name="EmptyStatement"/>
		<module name="EqualsAvoidNull"/>
		<module name="EqualsHashCode"/>
		<module name="ExecutableStatementCount"/>
		<module name="ExplicitInitialization"/>
		<module name="FallThrough"/>
		<module name="FinalClass"/>
		<module name="FinalParameters"/>
		<module name="GenericWhitespace"/>
		<module name="HiddenField"/>
		<module name="HideUtilityClassConstructor"/>
		<module name="IllegalCatch"/>
		<module name="IllegalImport"/>
		<module name="IllegalInstantiation"/>
		<module name="IllegalThrows"/>
		<module name="IllegalToken"/>
		<module name="IllegalTokenText"/>
		<module name="IllegalType"/>
		<module name="InnerAssignment"/>
		<module name="InnerTypeLast"/>
		<module name="InterfaceIsType"/>
		<module name="InterfaceTypeParameterName"/>
		<module name="JavadocStyle"/>
		<module name="JavadocMethod">
			<property name="scope" value="public"/>
			<!-- Require javadoc for @Override methods as well (e.g. reason) -->
			<property name="allowedAnnotations" value=""/>
		</module>
		<module name="JavadocType">
			<property name="scope" value="public"/>
		</module>
		<module name="JavadocVariable">
			<property name="scope" value="public"/>
		</module>
		<module name="JavaNCSS"/>
		<module name="LeftCurly"/>
		<module name="LineLength">
			<property name="max" value="100"/>
			<!--
				Controversial. Expect people to use goo.gl or similar.
				<property name="ignorePattern"
					value="^ *(//|\*) https?://\S+$"/>
			-->
		</module>
		<module name="LocalFinalVariableName"/>
		<module name="LocalVariableName"/>
		<module name="MagicNumber">
			<property name="ignoreHashCodeMethod" value="true"/>
		</module>
		<module name="MemberName">
			<property name="format" value="^m[A-Z][a-zA-Z0-9]*$"/>
		</module>
		<module name="StaticVariableName">
			<property name="format" value="^s[A-Z][a-zA-Z0-9]*$"/>
		</module>
		<module name="MethodCount"/>
		<module name="MethodLength"/>
		<module name="MethodName"/>
		<module name="MethodParamPad"/>
		<module name="MethodTypeParameterName"/>
		<module name="MissingDeprecated"/>
		<module name="MissingOverride"/>
		<module name="MissingSwitchDefault"/>
		<module name="ModifiedControlVariable"/>
		<module name="ModifierOrder"/>
		<module name="MultipleStringLiterals"/>
		<module name="MultipleVariableDeclarations"/>
		<module name="MutableException"/>
		<module name="NeedBraces"/>
		<module name="NestedForDepth"/>
		<module name="NestedIfDepth">
			<property name="max" value="3"/>
		</module>
		<module name="NestedTryDepth"/>
		<module name="NoClone"/>
		<module name="NoFinalizer"/>
		<module name="NoLineWrap"/>
		<module name="NonEmptyAtclauseDescription"/>
		<module name="NoWhitespaceAfter"/>
		<module name="NoWhitespaceBefore"/>
		<module name="NPathComplexity"/>
		<module name="OneStatementPerLine"/>
		<module name="OneTopLevelClass"/>
		<module name="OuterTypeFilename"/>
		<module name="OuterTypeNumber"/>
		<module name="OverloadMethodsDeclarationOrder"/>
		<module name="PackageAnnotation"/>
		<module name="PackageDeclaration"/>
		<module name="PackageName"/>
		<module name="ParameterAssignment"/>
		<module name="ParameterName"/>
		<module name="ParameterNumber"/>
		<module name="ParenPad"/>
		<module name="RedundantImport"/>
		<module name="RedundantModifier"/>
		<module name="RegexpSinglelineJava">
			<property name="id" value="NoSystemCurrentTime"/>
			<property name="format" value="System.currentTimeMillis"/>
			<property name="message"
				value="Do not use Java System.currentTimeMillis; Use ServerClock instead"/>
			<property name="ignoreComments" value="true"/>
		</module>
		<module name="RegexpSinglelineJava">
			<property name="id" value="NoAndroidLog"/>
			<property name="format" value="\sLog\."/>
			<property name="message"
				value="Do not use Android Log directly; use slf4j instead"/>
			<property name="ignoreComments" value="true"/>
		</module>
		<module name="RequireThis"/>
		<module name="RightCurly"/>

		<module name="OperatorWrap">
			<property name="option" value="eol"/>
		</module>
		<module name="SeparatorWrap">
			<property name="option" value="nl"/>
			<property name="tokens" value="DOT"/>
		</module>
		<module name="SeparatorWrap">
			<property name="option" value="eol"/>
			<property name="tokens" value="COMMA"/>
		</module>

		<module name="SimplifyBooleanExpression"/>
		<module name="SimplifyBooleanReturn"/>
		<module name="SingleLineJavadoc"/>
		<module name="SingleSpaceSeparator"/>
		<module name="StringLiteralEquality"/>
		<module name="SummaryJavadoc">
			<property name="forbiddenSummaryFragments" value="^This method returns.*"/>
			<!-- Android Studio's "Reformat Code" puts {@inheritDoc} on a new
				 line, leaving it without a period. -->
			<property name="period" value=""/>
		</module>
		<module name="SuperClone"/>
		<module name="SuperFinalize"/>

		<module name="ThrowsCount"/>
		<module name="TrailingComment"/>
		<module name="TypecastParenPad"/>
		<module name="TypeName"/>
		<module name="UncommentedMain"/>
		<module name="UnnecessaryParentheses"/>
		<module name="UpperEll"/>
		<module name="VariableDeclarationUsageDistance"/>
		<module name="VisibilityModifier">
			<!--
				Canonical annotations don't always work,
				probably because of code generation.
			-->

			<property
				name="ignoreAnnotationCanonicalNames"
				value="VisibleForTesting"/>
			<!-- ButterKnife -->
			<property
				name="ignoreAnnotationCanonicalNames"
				value="BindView"/>
			<property
				name="ignoreAnnotationCanonicalNames"
				value="BindViews"/>
			<!-- Dagger -->
			<property
				name="ignoreAnnotationCanonicalNames"
				value="javax.inject.Inject"/>
		</module>
		<module name="WhitespaceAfter"/>
		<module name="WhitespaceAround"/>

		<!-- Allow the use of @SuppressWarnings -->
		<module name="SuppressWarningsHolder"/>

		<!-- Disabled modules

		Rely solely on Android Studio's "Reformat Code" and
		"Rearrange Code" features.
			<module name="Indentation"/>
			<module name="ImportOrder"/>
			<module name="JavadocTagContinuationIndentation"/>
			<module name="JavadocParagraph"/>

		This module is only useful for reports - it doesn't do an actual check.
			<module name="WriteTag"/>

		These modules are used to enforce specific rules and require
		configuration.
			<module name="ImportControl"/>
			<module name="Regexp"/>
			<module name="RegexpOnFilename"/>

		We are okay relying on default constructor being implicitly defined
		when no other constructors are defined.
			<module name="MissingCtor"/>

		We don't need package javadoc files.
			<module name="JavadocPackage"/>

		Covered by error-prone compiler.
			<module name="UnusedImports"/> [RemoveUnusedImports]

		Not a strong signal that something is wrong with the code.
		Some of these checks are an overkill.
			<module name="FinalLocalVariable"/>
			<module name="ReturnCount"/>
			<module name="ClassDataAbstractionCoupling"/>
			<module name="DesignForExtension"/>
			<module name="TodoComment"/>
		-->
	</module>
</module>
